/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, Helvetica, sans-serif; color: #222; }

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: 700; }

blockquote {
    display: block;
    background: #eee;
    background: rgba(0,0,0,.05);
    border-left: 4px solid;
    border-left-color: #ccc;
    border-left-color:  rgba(0,0,0,.1);
    padding: 10px;
    font-style: italic;
    margin: 1em 40px;
}
blockquote p:last-child { margin-bottom: 0; }
/*cite { display: block; text-align: right; padding-top: 10px; }*/
.callout { font-size: 189%; color: #999999; font-style: italic;}
.callout cite { display: block; text-align: right; padding-top: 30px; font-size: 69.25%;}
.callout .quot{ font-size: 500%; vertical-align: sub; color: #e2e2e2; line-height: 25px; font-weight: 700;}
.callout .quotLast{ vertical-align: middle; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: 700; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
    background: black;
    background: rgba(0,0,0,.8);
    color: #eee;
    padding: 10px 20px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Headings
   ========================================================================== */

/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1{
    color:#AE0345;
    font-family: Georgia, serif;
    font-size: 196%;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; /* optional - helps kerning in some browsers */
}
h2, .h2{
    color:#AE0345;
    font-family: Georgia, serif;
    font-size: 167%;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; /* optional - helps kerning in some browsers */
}
h3, .h3{
    color:#DF2B72;
    font-family: Georgia, serif;
    font-size: 146.5%;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; /* optional - helps kerning in some browsers */
}
h4, .h4{
    color: #333;
    font-family: Georgia, serif;
    font-size: 123.1%;
    font-style: normal;
    font-weight: normal;
}
h5, .h5{
    color:#AE0345;
    font-family: Georgia, serif;
    font-size: 108%;
    font-style: normal;
    font-weight: 700;
}
h6, .h6{
    color:#333;
    font-family: Georgia, serif;
    font-size: 108%;
    font-style: italic;
    font-weight: normal;
}
/* if additional headings are needed they should be created via additional classes, never via location dependant styling */
.category{font-size:108%; font-weight:normal; font-style: normal; text-transform:uppercase; color: #333;}
.category a{color: #333;}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; display: block; max-width: 100%; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }

/* ====== image treatments (get more from jason santa maria) ====== */
.caption { font-size: 13px; color: #666666; font-style: italic; padding-top:0; }
/* will need to either
1. find a way to capture the width of the caption in the width of the image or flash
2. Set some default widths, mby use flickr widths?
*/
/* ====== special formatting classes ====== */
.detail { color: #777; font-size: 11px; display: block; }
/* ====== images ====== */
.icon { margin-right: 5px; }


/* =============================================================================
   Forms
   ========================================================================== */

.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

/*
  Added via JS to <textarea> and class="input_full".
  Applies only to IE7. Other browsers don't need it.
*/
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

form, form p { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; margin-bottom: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: middle; }

/*
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input[type="search"]::-webkit-search-decoration {
   -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box;
   box-sizing: content-box;
   display: none;
}

input[type="radio"],
input[type="checkbox"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  top: 3px;
  /* IE8, IE9, IE10 */
  top: 0\0;
  /* IE7 */
  *top: -3px;
}

/* iPad */
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}

/* iPhone 3 */
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background: #ddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  font-weight: 700;
  /* Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) */
  line-height: normal;
  outline: 0;
  /* Correct inner spacing displayed oddly in IE6/7 */
  overflow: visible;
  padding: 3px 10px;
  text-shadow: #fff 0 1px 1px;
  width: auto;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px;
}

button {
  /* IE7 */
  *padding-top: 1px;
  *padding-bottom: 1px;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #000;
  outline: 0;
  padding: 2px 3px;
  font-family: Arial, "Liberation Sans", FreeSans, Helvetica, sans-serif;
  height: 1.8em;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

/*
  Separate rule for Firefox.
  Separate rule for IE, too.
  Cannot stack with WebKit's.
*/
::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  background-color: #f0dddd;
  /*
    Suppress red glow that Firefox
    adds to form fields by default,
    even when user is still typing.
  */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

label.error {
    /*width: 400px;*/
    text-align: right;
    color: #aa0000;
}
label.error:before {
    content: "▲ ";
}
input.error, textarea.error {
    border-color: #aa0000;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #06f 0 0 7px;
  -webkit-box-shadow: #06f 0 0 7px;
  box-shadow: #06f 0 0 7px;

  /* for Opera */
  z-index: 1;
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

/* Tweaks for Safari + Chrome. */
@media only screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(../images/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 11px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    display: none;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  vertical-align: top;
  width: 100%;
}

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
th { text-align: left; }

/**
 * Data Table
 * Allows you to align various table cells so that the alignment class can be placed on either the table, table row, or table cell
 * Cell takes precedence over table row and table
 * Table row takes precedence over table
 */
.data{position:relative; zoom:1;vertical-align: top;text-align: left; /*border-right:solid 1px transparent;*//* border fixes a FF2 bug which causes the data table to overlay its borders*/}
.data table {width:100%; table-layout:fixed;}
th, td{/*vertical-align:top;*/}
/* horizontal alignment */
.txtC, table .txtC, table tr .txtC{text-align:center;}
.txtL, table .txtL, table tr .txtL{text-align:left;}
.txtR, table .txtR, table tr .txtR{text-align:right;}
/* vertical alignment */
.txtT, table .txtT, table tr .txtT{vertical-align:top;}
.txtB, table .txtB, table tr .txtB{vertical-align:bottom;}
.txtM, table .txtM, table tr .txtM{vertical-align:middle;}
.data th,.data td{padding:3px 20px}











/* =============================================================================
   Primary styles
   Author:
   ========================================================================== */

.main{
    display: table-cell;
    *display: block;
    width: auto;
}
.body, .main {
    *zoom: 1;
}
.body:after,
.main:after,
.inner:after,
.hd:after,
.bd:after,
.ft:after,
.media:after {
    clear: both;
    content: ".";
    display: block;
    font-size: xx-large;
    height: 0 !important;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}
.page {
    margin: 0 auto;
    width: 90%; /* 292px */
} /* wraps other template elems to set width */














/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/**
 * Spacing classes
 * Should be used to modify the default spacing between objects (not between nodes of the same object)
 * Please use judiciously. You want to be using defaults most of the time, these are exceptions!
 * <type><location><size>
 */

/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
*/

.ptn,.pvn,.pan{padding-top:0px}
.pts,.pvs,.pas{padding-top:5px}
.ptm,.pvm,.pam{padding-top:10px}
.ptl,.pvl,.pal{padding-top:20px}
.prn,.phn,.pan{padding-right:0px}
.prs,.phs,.pas{padding-right:5px}
.prm,.phm,.pam{padding-right:10px}
.prl,.phl,.pal{padding-right:20px}
.pbn,.pvn,.pan{padding-bottom:0px}
.pbs,.pvs,.pas{padding-bottom:5px}
.pbm,.pvm,.pam{padding-bottom:10px}
.pbl,.pvl,.pal{padding-bottom:20px}
.pln,.phn,.pan{padding-left:0px}
.pls,.phs,.pas{padding-left:5px}
.plm,.phm,.pam{padding-left:10px}
.pll,.phl,.pal{padding-left:20px}
.mtn,.mvn,.man{margin-top:0px}
.mts,.mvs,.mas{margin-top:5px}
.mtm,.mvm,.mam{margin-top:10px}
.mtl,.mvl,.mal{margin-top:20px}
.mrn,.mhn,.man{margin-right:0px}
.mrs,.mhs,.mas{margin-right:5px}
.mrm,.mhm,.mam{margin-right:10px}
.mrl,.mhl,.mal{margin-right:20px}
.mbn,.mvn,.man{margin-bottom:0px}
.mbs,.mvs,.mas{margin-bottom:5px}
.mbm,.mvm,.mam{margin-bottom:10px}
.mbl,.mvl,.mal{margin-bottom:20px}
.mln,.mhn,.man{margin-left:0px}
.mls,.mhs,.mas{margin-left:5px}
.mlm,.mhm,.mam{margin-left:10px}
.mll,.mhl,.mal{margin-left:20px}

/* **************** GRIDS ***************** */
.line:before,.line:after{content:"";display:table;}
.line:after{clear:both;}
.line{*zoom:1;}
.unit{float:left;}
.w1-1{float:none;}
.w1-2{width:50%;}
.w1-3{width:33.33333%;}
.w2-3{width:66.66666%;}
.w1-4{width:25%;}
.w3-4{width:75%;}
.w1-5{width:20%;}
.w2-5{width:40%;}
.w3-5{width:60%;}
.w4-5{width:80%;}
.w1-6{width:16.66666%;}
.w5-6{width:83.33333%;}
.w1-7{width:14.2857143%;}
.w2-7{width:28.5714286%;}
.w3-7{width:42.8571429%;}
.w4-7{width:57.1428572%;}
.w5-7{width:71.4285715%;}
.w6-7{width:85.7142858%;}
.w1-8{width:12.5%;}
.w3-8{width:37.5%;}
.w5-8{width:62.5%;}
.w7-8{width:87.5%;}
.w1-9{width:11.11111%;}
.w2-9{width:22.22222%;}
.w4-9{width:44.44444%;}
.w5-9{width:55.55555%;}
.w7-9{width:77.77777%;}
.w8-9{width:88.88888%;}
.w1-10{width:10%;}
.w3-10{width:30%;}
.w7-10{width:70%;}
.w9-10{width:90%;}
.golden-l{width:61.8033989%;}
.golden-s{width:38.1966011%;}

/* grids debug */
/*.line{background-color:#e2e2e2;}*/
/*.w1-1{background-color:pink;}*/
/*.w1-2{background-color:red;}*/
/*.w1-3{background-color:orange;}*/
/*.w2-3{background-color: yellow;}*/
/*.w1-4{background-color:lime;}*/
/*.w3-4{background-color:green;}*/
/*.w1-5{background-color:aqua;}*/
/*.w2-5{background-color:blue;}*/
/*.w3-5{background-color:purple;}*/
/*.w4-5{background-color:magenta;}*/
/*.w1-6{background-color:orchid;}*/
/*.w5-6{background-color:thistle;}*/
/*.w1-7{background-color:rosybrown;}*/
/*.w2-7{background-color:sienna;}*/
/*.w3-7{background-color:tan;}*/
/*.w4-7{background-color:salmon;}*/
/*.w5-7{background-color:hotpink;}*/
/*.w6-7{background-color:teal;}*/

/*.lastUnit{float:none;display:block;display:table-cell;width:9999em;*width:auto;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}*/
.rtl {direction:rtl;}
.rtl .unit{float:right;}
/*.rtl .lastUnit{_right:-3px;_margin-left:-3px;_margin-right:0; _left:0;}*/

/* **************** BLOCK STRUCTURES ***************** */
/* mod */
.mod{margin:10px;}
.mod .inner{/*background: url(skin/transparent.png) repeat left top;*/}
.bd,.ft, .hd{display: inline-block; width:100%; *display:block; *width:auto; zoom:1;}
.inner{position:relative;}
b{display:block;background-repeat:no-repeat;font-size:1%;position:relative;z-index:10;}
.tl, .tr, .bl, .br{height:10px; width:10px;float:left;}
.tl{background-position: left top;}
.tr{background-position: right top;}
.bl{background-position: left bottom;}
.br{background-position: right bottom;}
.br,.tr{float:right;}
.tr, .tl{overflow:hidden;margin-bottom:-32000px;}/* margin bottom needs to be < -9px */
.bl,.br{margin-top:-10px;}
.top{background-position:center top;}
.bottom{background-position:center bottom;_zoom:1;}/* this zoom required for IE5.5 only*/
/* complex */
.complex{overflow:hidden;*position:relative;*zoom:1;}/* position/zoom required for IE7, 6, 5.5 */
.complex .tl, .complex .tr{height:32000px; margin-bottom:-32000px;width:10px;}
.complex .bl, .complex .br{/*margin-top:0;*/}
.complex .top{height:5px;}
.complex .bottom{height:5px;/*margin-top:-10px;*/}
/* pop */
.pop{overflow:visible;margin: 10px 20px 20px 10px; background-position:left top;}
.pop .inner{right:-10px; bottom:-10px; background-position:right bottom;padding:0 10px 10px 0;}
.pop .tl, .pop .br{display:none;}
.pop .bl{bottom:-10px;}
.pop .tr{float:right;margin-right:-10px;_display:inline;/*fix double margin bug*/}

/* debug modules */
/*.top, .bottom{background-color:#e2e2e2;}*/
/*.tl{background-color:red;}*/
/*.tr{background-color:orange;}*/
/*.bl{background-color:yellow;}*/
/*.br{background-color:lime;}*/
/*/*.hd{background-color: green;}*/
/*.bd{background-color: teal;}*/
/*.ft{background-color: blue;}*/*/
/*.mod{background-color:purple;}*/
/*.inner{background-color:#E20074;}*/

/* ====== media (requires mod.css) ====== */
.media{margin: 10px;}
.media .bd{display:table-cell; zoom:1;}
.media .bd > :first-child{margin-top:0;}
.media .bd > :last-child{margin-bottom:0;}
.media .img{float:left; margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}

/* media debug */
/*.media .img img,*/
/*.media .img,*/
/*.media .imgExt,*/
/*.media .bd,*/
/*.media {background-color: rgba(195,0,38,.30);}*/

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 320px) {
    /* Style adjustments for viewports 320px and over go here */

    .unit { float: none !important; width: auto !important;}
}

@media only screen and (min-width: 480px) {
    /* Style adjustments for viewports 480px and over go here */

    body { background-color: #ffd; }
    body:before { content: "480px"; position: absolute; }
    .page {
        width: 80%; /* 436px */
    } /* wraps other template elems to set width */
    .left-rail, .right-rail {
        width: auto;
    }
}

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports 768px and over go here */

    body { background-color: #ddf; }
    body:before { content: "768px"; position: absolute; }
    .page {
        width: 80%; /* 712px */
    } /* wraps other template elems to set width */
    .left-rail, .right-rail {
        float: left;
        width: 33.33333%;
    }
    .right-rail {
        clear: left;
    }
}

@media only screen and (min-width: 992px) {
    /* Style adjustments for viewports 992px and over go here */

    body { background-color: #dfd; }
    body:before { content: "992px"; position: absolute; }
    .page {
        width: 80%; /* 896px */
    } /* wraps other template elems to set width */
}

@media only screen and (min-width: 1382px) {
    /* Style adjustments for viewports 1382px and over go here */

    body { background-color: #fdd; }
    body:before { content: "1382px"; position: absolute; }
    .page {
        width: 90%; /* 1356px */
        max-width: 1568px;
    } /* wraps other template elems to set width */
    .left-rail {
        width: 20%;
    }
    .right-rail {
        clear: none;
        float: right;
        width: 25%;
    }
}



/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
